#registrationForm,
#loginForm{
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#registrationForm{
  display: none;
}

.form-group{
  margin-bottom: 10px;
}

label{
  display: block;
  margin-bottom: 5px;
}

.form-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btnRegistration button,
.btnLogin button{
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(96, 207, 96);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}